@model AsyncIot.ViewModels.HomeModel

@{
    ViewBag.Title = "Async Iot - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sunrise = Model.SunriseTime ?? "N/A";
    var sunset = Model.SunsetTime ?? "N/A";
}


<div class="row">

    <ul class="nav nav-pills">
        <li class="active">
            <a data-toggle="tab" id="sensors-tab">Sensors</a>
        </li>
        <li>
            <a data-toggle="tab" id="day-extremes-tab">Day extremes</a>
        </li>
        <li>
            <a data-toggle="tab" id="month-extremes-tab">Month extremes</a>
        </li>

    </ul>
    <hr>


    <div class="col-md-6 col-xs-6 col-lg-6 pull-left" style="z-index: 1;">
        <h4 class="refresh">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            Refresh
        </h4>

    </div>
    <div id="sensor-tiles">

        <h4 id="time" class="col-md-6 col-xs-6 col-lg-6 text-right">TIME: @Model.Time h</h4>
        <ul class="widget col-md-12 row">
            <li id="tile1-container" class="col-lg-6 col-md-6 col-xs-12">
                <h2 id="tile1-title">Outside Temperature</h2>
                <div id="tile1-val" class="val">
                    @Model.Sensor.Outside<small><sup>o</sup>c</small>
                </div>
            </li>
            <li id="tile2-container" class="col-lg-6 col-md-6 col-xs-12">
                <h2 id="tile2-title">Inside Temperature</h2>
                <div id="tile2-val" class="val">
                    @Model.Sensor.Inside<small><sup>o</sup>c</small>
                </div>
            </li>
            <li id="tile3-container" class="col-lg-6 col-md-6 col-xs-12">
                <h2 id="tile3-title">Humidity</h2>
                <div id="tile3-val" class="val">
                    @Model.Sensor.Humidity<small>%</small>
                </div>
            </li>
            <li id="tile4-container" class="col-lg-6 col-md-6 col-xs-12">
                <h2 id="tile4-title">illuminance</h2>
                <div id="tile4-val" class="val">
                    @Model.Sensor.Lux<small>lux</small>
                </div>
            </li>
            <li id="tile5-container" class="col-lg-6 col-md-6 col-xs-12" style="background: #e5e5e5; color: white;">
                <h2 id="tile5-title">Sunrise</h2>
                <div id="tile5-val" class="val" style="color: white;">
                    @sunrise<small>h</small>
                </div>
            </li>
            <li id="tile6-container" class="col-md-6 col-xs-12" style="background: #c61331; color: white;">
                <h2 id="tile6-title">Sunset</h2>
                <div id="tile6-val" class="val" style="color: white;">
                    @sunset<small>h</small>
                </div>
            </li>
        </ul>
    </div>

    <div id="tempGraph" class="col-xs-12 col-lg-12" style="margin-top: 50px;"></div>
    <div id="humidityGraph" class="col-xs-12 col-lg-12" style="margin-top: 50px;"></div>
    <div id="luxGraph" class="col-xs-12 col-lg-12" style="margin-bottom: 200px; margin-top: 50px;"></div>
</div>




@Scripts.Render("~/scripts/bootstrap.min.js")
@Scripts.Render("~/scripts/Interfaces/ISeries.js")
@Scripts.Render("~/scripts/Models/ExtremeSnap.js")
@Scripts.Render("~/scripts/Models/Tile.js")
@Scripts.Render("~/scripts/Models/Sensor.js")
@Scripts.Render("~/scripts/Models/Serie.js")
@Scripts.Render("~/scripts/Models/HomeView.js")
@Scripts.Render("~/scripts/Models/Snap.js")
@Scripts.Render("~/scripts/Models/ChartView.js")
@Scripts.Render("~/scripts/Models/CentralHeating.js")
@Scripts.Render("~/scripts/Controllers/LineChartController.js")
@Scripts.Render("~/scripts/Controllers/WebApiController.js")
@Scripts.Render("~/scripts/Controllers/HomeController.js")
